:root {
  --title-text-color: #212121;
  --text-color: #757575;
  --akcent-color: #2196f3;
  --bgc-secondary: #2f303a;
  --logo-header-color: #000000;
  --logo-footer-color: #ffffff;
  --filter-button: #f5f4fa;
  --card-border: #eeeeee;
  --icons-basic-color: #afb1b8;
  --icons-secondary-color: #757575;
  --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.body {
  font-family: Roboto, sans-serif;
  color: var(--title-text-color);
  margin: auto;
}

.visualy-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip-path: inset(50%);
  margin: 1px;
}

.visualy-hidden:focus + .agree-icon .agree-icon-uncheck {
  fill: var(--akcent-color);
}

.no-scroll {
  overflow: hidden;
}

.nav__list,
.contacts,
.features__list,
.specialization__list,
.team-list,
.icons-list,
.clients__list,
.adds-list,
.connect-list,
.filters-list,
.portfolio-list {
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

.contacts,
.features__list,
.specialization__list,
.team-list,
.clients__list,
.adds-list,
.filters-list,
.connect-list,
.portfolio-list,
.icons-list {
  padding: 0;
  margin: 0;
}

img {
  display: block;
  margin: 0;
}

.conteiner {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

/* Header section */

.header {
  border-bottom: 1px solid #ececec;
}

.header__conteiner {
  display: flex;
  align-items: center;
}

.header__logo {
  margin-right: 93px;
}

.header__logo,
.footer-logo {
  color: var(--logo-header-color);

  font-family: "Raleway";
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.header__logo--first-logo {
  color: var(--akcent-color);
  font-family: "Raleway";
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.nav {
  display: flex;
  margin-right: 0;
}

.nav__list {
  display: flex;
  gap: 50px;
  padding-left: 0;
  padding-top: 0;
  padding-bottom: 0;
  margin: 0 auto;
}

.nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;

  transition: color var(--animation);
}

.nav__link:hover,
.nav__link:focus {
  color: var(--akcent-color);
}

.nav__link--active {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--akcent-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.current::after {
  position: absolute;
  left: 0;
  bottom: 0;

  content: "";
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--akcent-color);
}

.contacts {
  display: flex;
  margin-left: auto;
  gap: 50px;
}

.contacts__link--mail,
.contacts__link--tel {
  display: flex;
  align-items: center;
  color: var(--icons-secondary-color);

  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;

  transition: color var(--animation);
}

.contacts__link--mail:hover,
.contacts__link--tel:hover,
.contacts__link--mail:focus,
.contacts__link--tel:focus {
  color: var(--akcent-color);
}

.contacts__icon--mail,
.contacts__icon--tel {
  fill: currentColor;
  margin-right: 10px;
}

.contacts__icon--mail:hover,
.contacts__icon--tel:focus {
  fill: currentColor;
}

/* Hero section */

.hero {
  width: 1600px;
  margin: 0 auto;
  padding: 200px 0;

  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/img-hero-sq.jpeg);
  background-position: center;
  background-repeat: no-repeat;
}

.hero__conteiner {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.hero__title {
  width: 696px;
  margin: auto;
  margin-bottom: 30px;

  color: var(--logo-footer-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero__btn {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 10px 32px;
  margin: auto;
  gap: 10px;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  color: var(--logo-footer-color);
  background-color: var(--akcent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
}

.hero__btn:hover,
.hero__btn:focus {
  background-color: #188ce8;
}
.hero__btn,
.filters-btn,
.send-btn {
  cursor: pointer;
}

/* Features section */

.features {
  padding-top: 94px;
  padding-bottom: 94px;
}

.features__list {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.features__item {
  flex-basis: calc((100% - 90px) / 4);
}

.features__icons {
  display: flex;
  width: 270px;
  height: 120px;
  background-color: var(--filter-button);

  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.features__titie {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.features__txt {
  color: var(--text-color);

  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* Specialization section */

.specialization {
  padding-top: 0;
  padding-bottom: 94px;
}

.specialization__title,
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.specialization__title {
  margin-bottom: 50px;
}
.specialization__list {
  display: flex;
}
.specialization__item {
  width: 370px;
  margin-right: 30px;
  position: relative;
}
.specialization__item:nth-child(3n) {
  margin-right: 0;
}

.specialization__name {
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  width: 370px;
  height: 70px;

  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--logo-footer-color);
  background-color: rgba(47, 48, 58, 0.8);
}

/* Team section */

.team {
  padding-top: 94px;
  padding-bottom: 94px;

  background-color: #f5f4fa;
}
.team-title {
  margin-bottom: 50px;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.team-item {
  flex-basis: calc((100% - 90px) / 4);

  background-color: var(--logo-footer-color);

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.card-name {
  padding: 30px 10px;
}
.team-caption {
  display: block;
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
}
.team-txt {
  margin-bottom: 16px;

  color: var(--text-color);

  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
}

.icons-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.icons-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--icons-basic-color);

  transition: background-color var(--animation), color var(--animation);
}

.social-icons {
  fill: currentColor;
}

.icons-link:hover,
.icons-link:focus {
  color: var(--logo-footer-color);
  background-color: var(--akcent-color);
}

/* Clients section */

.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}
.clients__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;

  margin-bottom: 50px;
}

.clients__list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.clients__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  border: 1px solid var(--icons-basic-color);
  border-radius: 4px;
  color: var(--icons-basic-color);

  transition: border-color var(--animation), color var(--animation);
}
.clients__link:hover,
.clients__link:focus {
  color: var(--akcent-color);
  border: 1px solid var(--akcent-color);
  border-radius: 4px;
}
.clients__icons {
  fill: currentColor;
}

/* Footer */

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--bgc-secondary);
}

.footer-conteiner {
  display: flex;
  align-items: baseline;

  background-color: var(--bgc-secondary);
}
.conteiner-adds {
  margin-right: 70px;
}

.footer-logo {
  display: block;
  margin-bottom: 20px;
  color: var(--logo-footer-color);
}

.adds-item:not(:last-child) {
  display: block;
  margin-bottom: 9px;
}

.adds-link {
  color: var(--logo-footer-color);

  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;

  transition: color var(--animation);
}

.adds-link:hover,
.adds-link:focus {
  color: var(--akcent-color);
}

.adds-contact {
  color: rgba(255, 255, 255, 0.6);

  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;

  transition: color var(--animation);
}

.adds-contact:hover,
.adds-contact:focus {
  color: var(--akcent-color);
}

.footer-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--logo-footer-color);

  margin-bottom: 20px;
}

.connect-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.link-connect {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;

  background: rgba(255, 255, 255, 0.1);
  color: var(--logo-footer-color);

  transition: background-color var(--animation);
}

.link-connect:hover,
.link-connect:focus {
  background-color: var(--akcent-color);
}

.connect-icons {
  fill: currentColor;
}

.footer-form {
  display: block;
  margin-left: 93px;
}
.form-txt {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  margin-bottom: 20px;

  color: var(--logo-footer-color);
}

.mail-form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.footer-input {
  box-sizing: border-box;
  width: 358px;
  height: 50px;
  padding-left: 16px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  background-color: var(--bgc-secondary);
  outline: transparent;
}

.footer-input:focus {
  color: var(--logo-footer-color);
  border: solid var(--akcent-color);
}

.form-btn {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;

  padding: 10px 28px 10px 29px;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  color: var(--logo-footer-color);
  background-color: var(--akcent-color);
}

.txt-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
}

.form-icon {
  color: var(--logo-footer-color);
}
/* Modal */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.2);

  transition: opacity var(--animation);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 528px;
  height: 581px;
  padding: 40px;

  background-color: var(--logo-footer-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.close-btn {
  position: absolute;
  top: 0;
  right: 0;

  width: 30px;
  height: 30px;
  background-color: transparent;

  cursor: pointer;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin-top: 8px;
  margin-right: 8px;
  padding: 0;

  transition: fill var(--animation);
}

.close-btn:hover,
.close-btn:focus {
  fill: var(--akcent-color);
}

.register-form {
  text-align: center;
}

.reg-title {
  display: block;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;

  margin-bottom: 13px;

  color: var(--title-text-color);
}

.reg-group {
  display: block;
  margin-bottom: 20px;
}

.reg-wrap {
  position: relative;
  display: block;
  margin-bottom: 9px;
  text-align: left;
}

.reg-wrap:last-child {
  margin-bottom: 0;
}

.reg-form-lable {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  cursor: pointer;
  margin-bottom: 4px;

  color: var(--text-color);
}

.reg-input {
  width: 448px;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;
  outline: transparent;
}

.reg-input:focus {
  border-color: var(--akcent-color);
}

.reg-icons {
  position: absolute;
  top: 35px;
  left: 15px;
  color: var(--title-text-color);
}
.reg-wrap:focus-within > .reg-icons {
  fill: var(--akcent-color);
}
.reg-message {
  width: 448px;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  padding: 12px 16px;
  cursor: pointer;
  outline: transparent;
}

.reg-message:focus {
  border-color: var(--akcent-color);
}

.agree-form {
  display: flex;
  margin-bottom: 30px;
  gap: 7px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.agree-form:focus ~ .agree-icon .agree-icon-uncheck {
  fill: var(--accent-color);
}

.agree-input:checked + .agree-icon .agree-icon-uncheck {
  opacity: 0;
}

.agree-input:checked + .agree-icon .agree-icon-check {
  opacity: 1;
  fill: var(--logo-footer-color);
}

.agree-icon-check {
  opacity: 0;
}

.agree-txt {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  user-select: none;

  color: var(--text-color);
}

.agree-link {
  color: var(--akcent-color);
}

.agree-link:focus {
  border-color: currentColor;
}

.send-btn {
  display: inline-flex;
  align-items: flex-start;
  padding: 10px 55px;
  margin: auto;
  gap: 10px;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;

  color: var(--logo-footer-color);
  background-color: var(--akcent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  transition: background-color var(--animation);
}

.send-btn:hover,
.send-btn:focus {
  background-color: #188ce8;
}

/* Portfolio */

.portfolio-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.filters-list {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 50px;
}

.filters-btn {
  padding: 6px 22px;
  background-color: var(--filter-button);
  color: var(--title-text-color);
  text-decoration: none;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  border-radius: 4px;
  border: none;

  transition: background-color var(--animation), color var(--animation),
    box-shadow var(--animation);
}
.filters-btn:hover,
.filters-btn:focus {
  background-color: var(--akcent-color);
  color: var(--logo-footer-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.portfolio-item {
  flex-basis: calc((100% - 60px) / 3);
}
.work-name {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}

.link {
  display: block;
  text-decoration: none;
  color: var(--text-color);

  transition: box-shadow var(--animation);
}

.link:hover,
.link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.overlay {
  position: relative;
  overflow: hidden;
  top: 0;
  left: 0;
}
.overlay-txt {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform var(--animation);
}
.link:hover .overlay-txt,
.link:focus .overlay-txt {
  transform: translateY(0);
}

.text {
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  padding: 63px 24px;
  color: var(--logo-footer-color);
}

.portfolio-title {
  margin-bottom: 4px;

  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-text {
  color: var(--text-color);

  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}
